/*
.titulo-clase {
  text-align: center;
  font-size: 2rem;
}

header {
  display: flex;
  flex-direction: row;
  margin: auto;
}

.navBar {
  display: flex;
  flex-direction: row;
  width: 100%;
  background-color: black;
  padding: 20px;
}

.itemNav {
  color:blanchedalmond;
  margin:0px 20px 0px 20px;
}

.logoMain {
  width:40px;
}
*/